<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Details</title>
  </head>
  <body>
    <h2>Movie details</h2>

    <h3>Title: {{movie.title}} </h3>
    <p>Genre: {{movie.genre}} </p>
    <p>Plot: {{movie.plot}} </p>
    <br />
    <br />
    <ul>
      {{#each movie.cast}}
        <strong>Name:</strong>
        {{name}}
        <br />
        <strong>Occupation:</strong>
        {{occupation}}
        <br />
        <strong>CatchPhrase:</strong>
        {{catchPhrase}}
        <br />
      {{/each}}

    </ul>
    <form action="/movies/{{movie._id}}/delete" method="POST">
      <button type="submit">Delete</button>
      <br />
      <a href="/movies/{{movie._id}}/edit">Edit Movie</a>
    </form>
    <br />

    <a href="/movies/movies">Back to Movies</a>
    <br />
    <a href="/">Back to Home</a>

  </body>
</html>